<<<<<<< HEAD
.vc_btn3.vc_btn3-color-warning.vc_btn3-style-modern {
    background: #ff3c00 !important;
}

.services--grid {
    .vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-modern.vc_btn3-color-warning {
        margin-top: 30%;
    }
    .vc_custom_heading h3 {
        font-size: 1.3em;
    }
}

.black-text {
    color: #000;
    p {
        color: #000;
    }
=======
.vc_btn3.vc_btn3-color-warning.vc_btn3-style-modern {
    background: $color-orange
}

.services--grid {
    .vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-modern.vc_btn3-color-warning {
        margin-top: 30%;
    }
    .vc_custom_heading h3 {
        font-size: 1.3em;
    }
}

.black-text {
    color: #000;
    p {
        color: #000;
    }
>>>>>>> 30579f331d280eb6c285fc97bfff0c705396a11c
}