.project-taxonomy,
.fp-taxonomy-wrapper {
    @include flex;
    @include flex-align-items(center);
    @include flex-justify-content(center);
    .fpt-holder {
        padding: 10px;
        img {
            width: 40px;
            margin-right: 6px;
        }
    }
}

.fp-wrapper {
    @include flex;
    @include flex-align-items(center);
    @include flex-justify-content(center);
    margin: 50px 0;
    .fp-inner-holder {
        width: calc(100%/4);
    }
}

.forbes-project {
    &__item {
        height: 200px;
        overflow: hidden;
        a {
            @include flex;
            @include flex-align-items(flex-end);
            width: 100%;
            font-size: .9em;
            padding: 20px;
            text-align: left;
        }
    }
}